button.mainbutton { width: 235px; height: 60px; font-size: 11pt; font-weight: 600; } 
button.currentbutton { width: 210px; height: 50px; } 
button.headerbutton { width: 140px; height: 30px; } 
button.smallbutton { width: 70px; height: 26px;} 
.buttons { 
        left: 17%;
	position: absolute; 
	margin-left: -200px; 
	width: 950px; 
	margin-top: 100px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11pt;
}
.smallbuttons { font-family: Verdana,Arial,Helvetica,sans-serif;font-size: 8pt; margin-top: 15px; margin-left: 20px;}
.omatbuttons { margin-top: 40px; font-family: Verdana,Arial,Helvetica,sans-serif;font-size: 11pt;}
.mainbuttons { font-family: Verdana,Arial,Helvetica,sans-serif;font-size: 9pt;margin-top:40px; }
.header { font-family: Verdana,Arial,Helvetica,sans-serif;font-size: 19pt;}
#accordion { font-family: Verdana,Arial,Helvetica,sans-serif;font-size: 9pt; width: 850px;text-align:center;margin:0 auto; }
.admin { font-family: Verdana,Arial,Helvetica,sans-serif;font-size: 9pt; width: 1100px;text-align:center;margin-top:50px; margin-left: 100px;}
#dialog { font-family: Verdana,Arial,Helvetica,sans-serif;font-size: 9pt; }
#dialog2 { font-family: Verdana,Arial,Helvetica,sans-serif;font-size: 9pt; }
.lomake { font-family: Verdana,Arial,Helvetica,sans-serif;font-size: 10pt;}
.headertext { font-family: Verdana,Arial,Helvetica,sans-serif;font-size: 8pt; text-align: left;}
.jobtext  {font-family: Verdana,Arial,Helvetica,sans-serif;font-size: 9pt;}

.errorblock {
	color: #ff0000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
        width: 500px;
        margin-left: 400px;
}
.error {
	color: #ff0000;
}
li {list-style: none;margin-top: 6px;}
ul {margin: 0px;padding:2px;}
body {background-image:url('../images/ep3eymvfr6ee1.jpg');}
.row0 {background-color: #C0C0C0;}
.row1 {background-color: none;}